body{
	background: url(../imagenes/fondo1.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

@each $fondo in headerI, headerC{
	.#{$fondo}__fondo{
		height: 80vh;
		background:url(../imagenes/#{$fondo}.png) no-repeat;
		background-position: center;
		background-size: cover;
   		display: flex;
   		justify-content: center;
   		align-items: center;
   		position: relative;	
	}
}
.headerI__fondo::after{
    	content: '';
    	position: absolute;
    	top: 0;
    	width: 100%;
    	height: 100%;
    	background-color: #22222255;
}
.headerN__fondo{
	height: 80vh;
	background: url(../imagenes/imgHeroe2.png) no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 6px;
}
.formulario__fondo{
	background: url(../imagenes/fondoFormulario2.png) no-repeat;
	background-position: center;
	background-size: cover;
}
