
// colores
$color-prin: white;
$color-text:rgb(110, 153, 136);
$color-sec:rgb(125, 163, 150);
$color-terc:rgb(103, 190, 173);
$color-nav:rgba(177, 245, 232, 0.7);

// margenes 
$margen-t: 6px;
$relleno-t:6px;
$ancho-total: 100%;


